---
import { getTranslations } from "@/i18n";
import type { Education as Props, EducationStatus } from "@/types";
import { educationStatusStylesCriteria } from "@/data";
import {
  Calendar,
  ExternalLinkIcon,
  GraduationCap,
  MapPin,
} from "@lucide/astro";
import Badge from "../Badge.astro";

const {
  campus,
  degree,
  endDate,
  startDate,
  finished,
  gpa,
  institution,
  schoolLink,
  finished_caption,
} = Astro.props;

const locale = Astro.currentLocale!!;
const translation = getTranslations(locale);
const { components } = translation;
const { education } = components;
const { institution_visit_link_caption, grading_caption } = education;
---

<article
  class="border p-4 rounded-lg shadow-md bg-white dark:bg-surface-dark dark:border-surfaceElevated-dark flex flex-col gap-4 overflow-hidden min-w-0"
>
  <header class="flex items-start justify-between gap-2 min-w-0">
    <section class="flex items-start gap-2 min-w-0">
      <GraduationCap size={32} class="flex-shrink-0 mt-1" />
      <div class="flex flex-col gap-1 min-w-0">
        <h3 class="font-bold text-lg truncate" title={degree}>{degree}</h3>
        <p
          class="text-sm text-[#737373] dark:text-[#bfbfbf] text-pretty break-words line-clamp-2"
        >
          {institution}
        </p>
      </div>
    </section>

    <Badge
      text={finished_caption}
      type={finished.toString() as EducationStatus}
      styleCriteria={educationStatusStylesCriteria}
    />
  </header>
  <main class="flex flex-col gap-3">
    <section
      class="flex items-center gap-2 text-sm text-[#737373] dark:text-[#bfbfbf] text-pretty"
    >
      <MapPin size={16} class="flex-shrink-0" />
      <p class="truncate" title={campus}>{campus}</p>
    </section>

    <section
      class="flex items-center gap-2 text-sm text-[#737373] dark:text-[#bfbfbf] text-pretty"
    >
      <Calendar size={16} class="flex-shrink-0" />
      <p>
        {startDate} - {endDate || "Present"}
      </p>
    </section>

    <section
      class="p-3 flex justify-between items-center text-pretty text-sm bg-surfaceElevated-light dark:bg-surfaceElevated-dark rounded-lg"
    >
      <p>{grading_caption}</p>
      <p class="text-lg font-bold">
        {gpa}
      </p>
    </section>
  </main>
  <footer>
    <a
      class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive border bg-background shadow-xs hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-transparent bg-[#181818] text-white dark:bg-white dark:text-black dark:hover:bg-input/50 h-10 rounded-md gap-1.5 px-4 has-[>svg]:px-3 w-full"
      href={schoolLink}
      target="_blank"
      rel="noopener noreferrer"
    >
      <ExternalLinkIcon size={16} />
      {institution_visit_link_caption}
    </a>
  </footer>
</article>
