---
import type { Job as Props } from "@/types";
import {
  Briefcase,
  Building,
  Calendar,
  ExternalLink,
  Folder,
  MapIcon,
} from "@lucide/astro";
import Badge from "../Badge.astro";
import { workTypeStyleCriteria } from "@/data";
import { getTranslations } from "@/i18n";

const {
  company,
  location,
  period,
  responsabilities,
  role,
  work_type,
  key_projects,
  links,
  technologies,
} = Astro.props;

const locale = Astro.currentLocale!!;
const translation = getTranslations(locale);
const { components } = translation;
const { job } = components;
const {
  responsabilities_caption,
  company_open_url_caption,
  key_projects_caption,
} = job;
---

<article
  class="border p-4 rounded-lg shadow-md bg-white dark:bg-surface-dark dark:border-surfaceElevated-dark flex flex-col gap-4 overflow-hidden min-w-0"
>
  <header class="flex items-center justify-between">
    <section class="flex items-center justify-between gap-2">
      <Building size={24} />

      <div class="flex flex-col gap-1">
        <h3 class="text-xl font-bold">
          {company}
        </h3>
        <p
          class="text-sm text-[#737373] dark:text-[#bfbfbf] text-pretty break-words line-clamp-2"
        >
          {role}
        </p>
      </div>
    </section>

    <Badge
      text={work_type}
      type={work_type}
      styleCriteria={workTypeStyleCriteria}
    />
  </header>
  <main class="text-sm text-[#737373] dark:text-[#bfbfbf] flex flex-col gap-2">
    <section class="flex items-center gap-2">
      <Calendar size={16} />

      <p>{period}</p>
    </section>

    <section class="flex items-center gap-2">
      <MapIcon size={16} />
      {location}
    </section>

    <section class="mt-2">
      <h4 class="text-black dark:text-white font-bold flex items-center gap-1">
        <Briefcase size={16} />
        {responsabilities_caption}
      </h4>

      <ul class="flex flex-col gap-1 pl-6">
        {
          responsabilities.map((text) => (
            <li class="list-disc">
              <span class="truncate">{text}</span>
            </li>
          ))
        }
      </ul>
    </section>

    <secion class="mt-2">
      <h5 class="text-black dark:text-white font-bold flex items-center gap-1">
        <Folder size={16} />
        {key_projects_caption}
      </h5>
      <ul class="flex flex-col gap-1 pl-6">
        {
          key_projects &&
            key_projects.map(({ description, name, url }) => (
              <li class="list-disc bg-surfaceElevated-light dark:bg-surfaceElevated-dark p-2 rounded mt-2">
                <h6 class="text-black dark:text-white font-bold">{name}</h6>
                <p class="truncate break-words">{description}</p>
              </li>
            ))
        }
      </ul>
    </secion>
  </main>
  <footer>
    {
      links &&
        links.map((link) => (
          <a
            href={link}
            class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive border bg-background shadow-xs hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-transparent bg-[#181818] text-white dark:bg-white dark:text-black dark:hover:bg-input/50 h-8 rounded-md gap-1.5 px-3 has-[>svg]:px-2.5 w-full"
            target="_blank"
          >
            <ExternalLink size={16} />
            {company_open_url_caption}
          </a>
        ))
    }
  </footer>
</article>
