---
import type { SkillType } from "@/types";
import Badge from "../Badge.astro";
import { skillStatusStylesCriteria } from "@/data";

interface Props {
  name: string;
  icon?: string;
  description?: string;
  type: SkillType;
}

const { name, icon, description, type } = Astro.props;
---

<Badge className="skill" styleCriteria={skillStatusStylesCriteria} type={type}>
  <span class="sr-only">{description}</span>
  {icon && <span class={icon} />}
  {name}
</Badge>
