---
import { getTranslations } from "@/i18n";

const translation = getTranslations(Astro.currentLocale!!);
const { sections_data } = translation;
const { about } = sections_data;
const { greeting, photoAlt, who, what, personal, ctaContact, ctaProjects } =
  about;
---

<div class="flex flex-col p-2 items-center text-center gap-2 md:gap-4 mx-auto">
  <img
    id="hero-image"
    src="/JAMZ-p.jpg"
    class="rounded-full"
    alt={photoAlt}
    width="192"
    height="192"
  />

  <h1 class="text-4xl font-bold">{greeting}</h1>

  <p>{who}</p>

  <p>{what}</p>

  <p>{personal}</p>

  <section class="mt-8 flex gap-4">
    <a
      href="#projects"
      class="px-6 py-3 rounded-lg bg-accent-light dark:bg-accent-dark text-white font-medium shadow-md"
    >
      {ctaProjects}
    </a>
    <a
      href="#contact"
      class="px-6 py-3 rounded-lg border border-accent-light dark:border-accent-dark text-accent-lighter font-medium"
    >
      {ctaContact}
    </a>
  </section>
</div>
