---
import { getTranslations } from "@/i18n";
import Job from "../static/Job.astro";
import type { WorkType } from "@/types";

const { currentLocale } = Astro;

if (!currentLocale) return;

const translation = getTranslations(currentLocale);

const { jobs } = translation;
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-2 truncate">
  {
    jobs.map(
      ({
        company,
        key_projects,
        location,
        period,
        responsibilities,
        role,
        work_type,
        links,
        technologies,
      }) => (
        <Job
          company={company}
          key_projects={key_projects}
          location={location}
          period={period}
          responsabilities={responsibilities}
          role={role}
          work_type={work_type as WorkType}
          links={links}
          technologies={technologies}
        />
      )
    )
  }
</section>
