---
import { getTranslations } from "@/i18n";
import Project from "../static/Project.astro";
import type { Technology, ProjectStatus } from "@/types";

const translation = getTranslations(Astro.currentLocale!!);
const { projects } = translation;
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-2">
  {
    projects.map(
      ({
        name,
        description,
        features,
        images,
        limitations,
        role,
        splash,
        status,
        status_caption,
        technologies,
        url,
      }) => (
        <Project
          name={name}
          description={description}
          features={features}
          images={images}
          limitations={limitations}
          role={role}
          splash={splash}
          status={status as ProjectStatus}
          status_caption={status_caption}
          technologies={technologies as Technology[]}
          url={url}
        />
      )
    )
  }
</div>
