---
import Header from "@/components/static/Header.astro";
import Section from "@/components/static/Section.astro";
import { getI18N } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import { SECTION_COMPONENTS } from "@/utils";

const { currentLocale } = Astro;

if (!currentLocale)
  throw new Error("Locale not provided or default didn't load propperly");

const lang = getI18N(currentLocale);

const { PAGE_TITLE, PAGE_DESCRIPTION, SECTIONS } = lang;
---

<Layout title={PAGE_TITLE} description={PAGE_DESCRIPTION}>
  <Header lang={currentLocale} />
  <main class="dark:text-white">
    {
      SECTIONS.map(async ({ label, url }) => {
        const loader = SECTION_COMPONENTS[url];

        if (!loader) return null;

        const Component = (await loader()).default;

        const variant = url === "about" ? "hero" : "normal";
        const isOptionalTitle = url === "about";
        const optionalStyles = url === "about" ? "" : "";

        return (
          <Section
            id={label}
            optionalTitle={isOptionalTitle}
            title={label}
            variant={variant}
          >
            <Component />
          </Section>
        );
      })
    }
  </main>
</Layout>
