---
import { getI18N } from '@/i18n'
import SocialMedia from './SocialMedia.astro';
const { currentLocale } = Astro
const lang = getI18N({ currentLocale })
---

<section
  class="mt-10 section mx-auto max-w-1400 sm:max-w-full flex flex-col gap-5"
>
  <section class="flex flex-col gap-5 justify-center">
    <img
      class="rounded-full size-32"
      src="/JAMZ.webp"
      alt={lang.DEVELOPER_PHOTO_ALT}
    />
    <h1
      class="text-2xl md:text-xl lg:text-5xl font-bold flex flex-grow gap-x-4"
    >
      {lang.DEVELOPER_NAME}
      <a
        href="https://linkedin.com/in/jamz3"
        target="_blank"
        rel="noopener"
        class="flex justify-center items-center"
      >
        <span
          class="text-xs font-medium me-2 px-2 py-1.5 rounded text-primary-600/150 dark:bg-primary-100"
        >
          {lang.HIRABLE}
        </span>
      </a>
    </h1>
  </section>
  <section>
    <h2
      class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
    >
      {
        lang.ABOUT_ME.map((p) => {
          const { text, color } = p

          return <span class={`${color}`}>{text}</span>
        })
      }
    </h2>
  </section>
  <SocialMedia />
</section>
