---
import type { LinkComponentProps as Props } from "@/types";
import { appendBaseUrl } from "@/utils";

const { label, url, isForMenu, isForElement } = Astro.props;

const internalUrl = isForElement
  ? appendBaseUrl(`#${url}`)
  : appendBaseUrl(url);
---

{
  isForMenu ? (
    <li>
      <a
        class="link flex flex-1 w-full p-2 rounded-md text-sm hover:bg-accent-500 hover:text-white dark:hover:bg-accent-500"
        aria-label={label}
        data-url={url}
        href={internalUrl}
      >
        {label}
      </a>
    </li>
  ) : (
    <li>
      <a
        class="link flex flex-1 w-full rounded text-sm dark:text-gray-300 text-gray-600 hover:bg-gray-200 p-2 transition-colors duration-200 hover:text-accent-500 hover:dark:bg-dark-600 hover:dark:text-accent-500"
        aria-label={label}
        data-url={url}
        href={internalUrl}
      >
        {label}
      </a>
    </li>
  )
}

<script>
  const handleClick = (e: Event) => {
    const url = (e.target as HTMLLinkElement).getAttribute("data-url");

    if (!url) throw new Error("No data-url for this component");

    if (!url.includes("/")) return;

    e.preventDefault();

    window.scrollTo({ top: 0, behavior: "smooth" });

    window.history.pushState(null, document.title, window.location.pathname);
  };

  const links = document.querySelectorAll(".link");

  links.forEach((e) => e.addEventListener("click", handleClick));
</script>
