---
import type { Skill as Props, SkillVariant } from "@/types";
import clsx from "clsx";
import Icon from "./Icon.astro";

const { icon, name, color, type = "card" } = Astro.props;

const cardStylesForVariant: Record<SkillVariant, string> = {
  card: "p-2 rounded-md flex items-center gap-2 bg-gray-100 dark:bg-dark-800",
  pill: clsx(
    "p-2 rounded-full flex items-center gap-1",
    `bg-${color}-500/10 dark:bg-${color}-500/50`
  ),
};

const iconStylesForVariant: Record<SkillVariant, string> = {
  card: `text-lg text-${color}-600 dark:text-${color}-300`,
  pill: `text-${color}-800 dark:text-${color}-400`,
};

const textStylesForVariant: Record<SkillVariant, string> = {
  card: "",
  pill: `text-xs font-medium text-${color}-800 dark:text-${color}-400`,
};
---

<article class={cardStylesForVariant[type]}>
  <Icon class={iconStylesForVariant[type]} {...icon} />
  <span class={textStylesForVariant[type]}>
    {name}
  </span>
</article>
