---
import { Header } from '@/components/Header';
import { getI18N } from '@/i18n';

import '@fontsource/geist-sans/100.css';
import '@fontsource/geist-sans/200.css';
import '@fontsource/geist-sans/300.css';
import '@fontsource/geist-sans/400.css';
import '@fontsource/geist-sans/500.css';
import '@fontsource/geist-sans/600.css';
import '@fontsource/geist-sans/700.css';
import '@fontsource/geist-sans/800.css';
import '@fontsource/geist-sans/900.css';

interface Props {
  title: string;
  description: string;
}
const { currentLocale } = Astro;
const { title, description } = Astro.props;

const lang = getI18N(currentLocale!);

const { PAGE_TITLE, PAGE_DESCRIPTION } = lang;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
      as="style"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={PAGE_TITLE} />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta
      property="og:description"
      content={PAGE_DESCRIPTION}
    />

    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Jorge Macias - Portfolio" />
    <meta name="twitter:image" content="" />
    <meta
      property="twitter:description"
      content="Desarrollador de Software en Backend, Frontend y Aplicaciones de Escritorio."
    />
  </head>
  <body>
    <section class="header-placeholder"></section>
    <Header client:only="react" lang={currentLocale!}/>
    <slot />
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
    font-family: "Geist Sans", sans-serif;
  }

  body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    padding-left: 0;
    @apply grid-rows-layout_mobile md:grid-cols-layout_desktop md:grid-rows-none;
  }

  .header-placeholder {
    @apply flex w-full md:w-60;
  }
</style>
<script>
  import { $theme } from "@/stores";

  const darkBg = "bg-black_rain-600";
  const lightBg = "bg-seasalt";

  $theme.subscribe((value, oldValue) => {
    if (!oldValue) return;

    const oldBg = oldValue === "light" ? lightBg : darkBg;
    const oldFg = oldValue === "light" ? "text-black" : "text-white";
    const bg = value === "light" ? lightBg : darkBg;
    const fg = $theme.get() === "light" ? "text-black" : "text-white";

    if (!bg) return;
    if (!fg) return;

    document.body.classList.remove(oldBg);
    document.body.classList.remove(oldFg);
    document.body.classList.add(bg);
    document.body.classList.add(fg);
  });

  const bg = $theme.get() === "light" ? lightBg : darkBg;
  const fg = $theme.get() === "light" ? "text-black" : "text-white";

  document.body.classList.add(bg);
  document.body.classList.add(fg);
</script>
